# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv
venv/
.env/
*.env

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/
*.swp
*~

# OS-specific trash
.DS_Store
Thumbs.db

# Backend outputs
backend/results/
backend/resources/models/*.onnx

# Frontend dependencies
frontend/node_modules/

# Expo/React Native caches
frontend/.expo/
frontend/.expo-shared/
frontend/.turbo/
frontend/metro-cache/

# Native projects (if you’re staying in Expo managed, ignore these)
frontend/android/
frontend/ios/

# Native build junk (if you ever do keep android/ or ios/)
frontend/android/.gradle/
frontend/android/build/
frontend/ios/build/
frontend/ios/Pods/
frontend/package

# Editor backups
*.bak
*~

# training folders
backend/model_training/object_detection/dataset/*
backend/model_training/object_detection/images/*
lp-det/